<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-kh-foreground-service" version="1.0.1">
    <name>Cordova KeylessHome Foreground Service</name>
    <description>KeylessHome foreground service.</description>
    <license>MIT</license>
    <author>Konstantinos Nikas</author>
    <repo>https://github.com/orgixmh/cordova-plugin-kh-foreground-service</repo>
    <keywords>cordova,background,foreground,service,kh</keywords>
    <js-module src="www/foreground.js" name="KHForegroundService">
        <clobbers target="cordova.plugins.KhforegroundService" />
    </js-module>
    <platform name="android">
        <source-file src="src/KHForegroundPlugin.java" target-dir="src/com/nks/khforeground" />
        <source-file src="src/KHForegroundService.java" target-dir="src/com/nks/khforeground" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.nks.khforeground.KHForegroundService" android:stopWithTask="true"/>
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="ForegroundPlugin">
                <param name="android-package" value="com.nks.khforeground.KHForegroundPlugin" />
            </feature>
        </config-file>
    </platform>

    <engines>
        <engine name="cordova" version=">=8.0.0" />
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="android-sdk" version=">=21" />
    </engines>
</plugin>